body {
    background-image: url('https://media.istockphoto.com/id/507768900/ru/видео/.jpg?s=640x640&k=20&c=oqg5pFTFjYPwJCcGJy8xU4PRxpCw7EXwLsF_tzjJi5w=');
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;

}
.gerb { 
    width: 60px;
}   
.felix1 {
    width: 250px;
}
.MECM {
    width: 300px;
}
header {
    background-color: rgba(240, 241, 243, 0.61);
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: azure;
}
.text {
    width: 1000px;  
    background-color: rgba(240, 241, 243, 0.805);
    font-size: larger;
}
section { 

    background-size: cover;
    display: flex;
    justify-content: center;
    z-index: -1;
}

